<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="./css/master.css">
</head>

<body class="h-screen flex flex-col">
    <!-- Header Start -->
    <header class="flex justify-between items-center bg-indigo-700 text-white p-3">
        <span class="font-semibold text-2xl">
            <a href="">Tushirikiane</a>
        </span>
        <div class="flex items-center space-x-3 ">
            <nav class="font-medium ">
                <ul class=" space-x-3 flex">
                    <li class="">
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Tasks</a>
                    </li>
                    <!-- Added to header-->
                    <li>
                        <span id="side_menu_open" class="md:hidden cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </span>
                    </li>
                    <!-- End -->
                </ul>
            </nav>
            <div class="relative">
                <span id="profile" class="hover:cursor-pointer">
                    <img class="rounded-full w-10" src="./images/profile" alt="Profile picture">
                </span>
                <div id="extras"
                    class="hidden z-30 absolute right-5 bg-gray-100 rounded-md text-black text-sm py-2 px-4">
                    <!----Addded Z index--->
                    <a class="hover:text-indigo-500 hover:border-b-2 hover:border-indigo-500" href="#">Profile</a>
                    <a class="hover:text-indigo-500 hover:border-b-2 hover:border-indigo-500" href="#">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->


    <main class="flex-grow flex relative mb-5">
            <!-- Messages container Start -->
    <div id="messages_container" class="absolute w-full" >
        <ul class="space-y-2 mx-5 mt-1">
            <li class="message message_info">
                <p>Info: Hello</p>
                <span class="message_close cursor-pointer md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </span>
            </li>
            <li class="message message_success">
                <p>Success: Test</p>
                <span class="message_close cursor-pointer md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </span>
            </li>
            <li class="message message_warning">
                <p>Warning: test</p>
                <span class="message_close cursor-pointer md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </span>
            </li>
            <li class="message message_error">
                <p>Error: test</p>
                <span class="message_close cursor-pointer md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </span>
            </li>
        </ul>

        <!-- Django sample 
        {% if messages %}
            <ul class="space-y-2 mx-5 mt-1">
                {% for message in messages %}
                    <li {% if message.tags %} class="message {{ message.tags }}"{% endif %}>
                    <p> <span class="capitalize">{{ message.level_tag }}</span>: {{ message }}</p>
                    <span class="message_close cursor-pointer md:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        -->
    </div>
    <!-- Messages container end -->


        <!-- Main content start-->
        <div class="mx-auto md:mx-0 md:max-w-[calc(100%-230px)]">

            <!-- Project info start -->
            <div class="m-4 space-y-4">
                <h1 class="text-3xl font-bold text-center">Code Craft </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aut, neque voluptatem earum quia
                    dolore aliquam dignissimos vero eum nulla enim beatae animi exercitationem! Asperiores itaque at
                    tempora porro ut?</p>
                <div class="flex justify-between items-center text-sm font-semibold">
                    <p>Started on: 17th April 2023</p>
                    <p class="rounded-full bg-green-600 text-white px-3 py-1">Active</p>
                    <!-- <p class="rounded-full bg-yellow-500 text-white px-3 py-1">Archived</p> -->
                    <p>4 Members</p>
                </div>
            </div>
            <!-- Project info End -->

            <section class="border border-indigo-200 rounded-md  overflow-hidden shadow mx-4">
                <!-- Task headings container Start-->
                <div class="flex text-lg border-b border-indigo-200 font-semibold text-center">
                    <span id="pending_btn" data-section="#pending"
                        class="heading_btn hover:cursor-pointer flex-1 py-1  border-r border-indigo-200 active_tab">Pending</span>
                    <span id="assigned_btn" data-section="#assigned"
                        class="heading_btn hover:cursor-pointer flex-1 py-1 border-r border-indigo-200 ">Assigned</span>
                    <span id="in_progress_btn" data-section="#in_progress"
                        class="heading_btn hover:cursor-pointer flex-1 py-1 border-r border-indigo-200 ">In progress</span>
                    <span id="completed_btn" data-section="#completed"
                        class="heading_btn hover:cursor-pointer flex-1 py-1">Completed</span>
                </div>
                <!-- Task headings container End-->

                <!-----Project's tasks container------->
                <div class="flex">

                    <!---------------Pending tasks container----------------------->
                    <div id="pending" class="w-full">

                        <div class="border-b border-gray-200 p-2">
                            <h3 class="text-xl font-bold">Implement Login</h3>
                            <p class="text-gray-600 mb-2">Description about the task that is to be done by this
                                person/individual member within the given time</p>
                            <div class="flex items-center justify-between">
                                <button class="py-1 px-3 bg-indigo-600 rounded-md text-white"> Request</button>
                            </div>
                        </div>
                        
                        <div class="border-b border-gray-200 p-2">
                            <h3 class="text-xl font-bold">Implement Login</h3>
                            <p class="text-gray-600 mb-2">Description about the task that is to be done by this
                                person/individual member within the given time</p>
                            <div class="flex items-center justify-between">
                                <button class="py-1 px-3 bg-indigo-600 rounded-md text-white"> Request</button>
                            </div>
                        </div>

                    </div>
                    <!---------------Pending tasks container End----------------------->

                    <!---------------Assigned tasks container----------------------->
                    <div id="assigned" class="hidden w-full">

                        <div class="border-b border-gray-200 p-2">
                            <h3 class="text-xl font-bold">Write Models</h3>
                            <p class="text-gray-600 mb-2">Lorem ipsum dolor Lorem ipsum dolor sit. sit amet consectetur,
                                adipisicing elit. Aut, amet. Ex adipisci accusantium dicta repudiandae quos nobis.
                                Debitis accusamus libero harum dolorem fugit, ea tempora, consequatur, enim beatae eos
                                quas.</p>
                            <div class="flex items-center justify-between text-gray-700 text-sm">
                                <div class="flex items-center space-x-3">
                                    <span
                                        class="w-8 h-8 bg-green-700 text-2xl font-semibold text-white flex items-center justify-center rounded-full">
                                        G
                                    </span>
                                    <p class=" font-semibold">George Doe</p>
                                </div>
                                <div class="flex flex-col items-center">
                                    <p>Start: 9th Aug 12:00am</p>
                                    <p>Due: 11th Aug 7:00pm</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!---------------Assigned tasks container End----------------------->

                    <!---------------In Progress tasks container----------------------->
                    <div id="in_progress" class="hidden w-full">

                        <div class="border-b border-gray-200 p-2">
                            <h3 class="text-xl font-bold">Implement Login</h3>
                            <p class="text-gray-600 mb-2">Description about the task that is to be done by this
                                person/individual member within the given time</p>
                            <div class="flex items-center justify-between text-gray-700 text-sm">
                                <div class="flex items-center space-x-3">
                                    <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                                    <p class=" font-semibold">John Doe</p>
                                </div>
                                <div>
                                    <p>Due: 11th Aug 7:00pm</p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!---------------In Progress tasks container End----------------------->

                    <!----------------Completed tasks container----------------------->
                    <div id="completed" class="hidden w-full">

                        <div class="border-b border-gray-200 p-2">
                            <h3 class="text-xl font-bold">Set up payment</h3>
                            <p class="text-gray-600 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Numquam, vel! Lorem, ipsum dolor.</p>
                            <div class="flex items-center justify-between text-gray-700 text-sm">
                                <div class="flex items-center space-x-3">
                                    <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                                    <p class=" font-semibold">Jane Doe</p>
                                </div>
                                <div>
                                    <p>Completed on: 11th Aug 7:00pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---------------Completed tasks container End----------------------->

                </div>
                <!-----Project's tasks container End------->
            </section>
        </div>
        <!-- Main content start-->

        <!-- Side Menu Start -->
        <section id="side_menu"
            class="hidden md:block h-full md:max-h-[400px] md:pb-5 bg-slate-100 md:bg-white absolute md:fixed right-0 md:right-5 z-10 min-w-[50%] md:min-w-[200px] max-w-[400px] md:min-w-xl md:mt-[70px]  pt-3 space-y-3 text-center transition-all duration-300 ease-in">
            <span id="side_menu_close" class="cursor-pointer md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </span>
            <div class="md:border md:rounded-lg">
                <ul class="text-left py-3">
                    <!-- All users start -->
                    <li id="view_members_btn"
                        class="cursor-pointer px-5 py-2 hover:text-white hover:bg-indigo-300 rounded-lg"
                        data-modal="#view_members_modal">View Members</li>
                    <li class="cursor-pointer px-5 py-2 hover:text-white hover:bg-red-500 rounded-lg">
                        <a href="">Leave Project</a>
                    </li>
                    <!-- All users end -->

                    <!-- Admins only start -->
                    <li id="add_task_btn"
                        class="cursor-pointer px-5 py-2 hover:text-white hover:bg-indigo-300 rounded-lg"
                        data-modal="#add_task_modal">Add Task</li>
                    <li id="add_member_btn"
                        class="cursor-pointer px-5 py-2 hover:text-white hover:bg-indigo-300 rounded-lg"
                        data-modal="#add_member_modal">Add Member</li>
                    <li id="view_requests_btn"
                        class="cursor-pointer px-5 py-2 hover:text-white hover:bg-indigo-300 rounded-lg"
                        data-modal="#view_requests_modal">View Requests</li>
                    <!-- Admins only end -->

                    <!-- Owner start -->
                    <li class="cursor-pointer px-5 py-2  hover:bg-yellow-300 rounded-lg">
                        <a href="">Archive Project</a>
                    </li>
                    <!-- Owner end -->
                </ul>
            </div>
        </section>
        <!-- Side Menu End -->

    </main>

    <footer class="py-4 flex justify-center items-center text-white bg-indigo-600 ">
        <span class="">Copyright © 2023</span>
    </footer>

    <!-- Modals -->

    <!-- View Members Modal Start -->
    <div id="view_members_modal"
        class="hidden rounded-lg shadow-lg absolute bg-white w-[80%] max-w-[450px] px-4 py-8 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <span class="modal_close_btn cursor-pointer absolute top-2 right-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </span>
        <div>
            <h4 class="text-lg font-semibold mb-2">Members</h4>
            <div class="overflow-y-scroll max-h-[500px]">

                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                    <!-- Optional -->
                    <div class="flex">
                        <p class="border border-red-600 text-red-600 rounded-full text-xs px-2 py-1">Admin</p>
                        <!-- Only shown to admins -->
                        <span class="relative">
                            <span class="member_menu">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                                </svg>
                            </span>
                            <div
                                class="hidden bg-white rounded-lg shadow-lg overflow-hidden min-w-fit absolute left-[-105px] bottom-[-70px]">
                                <a href="">
                                    <p
                                        class="whitespace-nowrap text-xs font-semibold hover:bg-red-500 hover:text-white px-3 py-2 ">
                                        Remove member</p>
                                </a>
                                <a href="">
                                    <p
                                        class="whitespace-nowrap text-xs font-semibold px-3 py-2 hover:bg-indigo-500 hover:text-white">
                                        Make admin</p>
                                </a>
                            </div>
                        </span>
                        <!-- Only shown to admins end-->
                    </div>
                </div>

                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                    <!-- Optional -->
                    <p class="border border-red-600 text-red-600 rounded-full text-xs px-2 py-1">Admin</p>
                </div>

                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                    <!-- Optional -->
                    <p class="border border-red-600 text-red-600 rounded-full text-xs px-2 py-1">Admin</p>
                </div>

                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                </div>
                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                </div>

                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                </div>

                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                </div>
                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                </div>
                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                </div>

                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                </div>

                <div class="flex justify-between items-center hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <div class="flex space-x-4">
                        <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                        <p>John Doe</p>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <!-- View Members Modal End -->

    <!-- Add Task Modal Start -->
    <div id="add_task_modal"
        class="hidden rounded-lg shadow-lg absolute bg-white w-[80%] max-w-[450px] px-4 py-8 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <span class="modal_close_btn cursor-pointer absolute top-2 right-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </span>
        <div>
            <h4 class="text-lg font-semibold">Add a new task</h4>
            <form class="space-y-5 flex flex-col mx-auto" action="">
                <div class="text-left space-y-1">
                    <label for="title">Title:</label>
                    <input class="border border-gray-400 rounded-full w-full pl-2 py-1 focus:outline-indigo-400"
                        type="text" name="title" id="title">
                </div>

                <div class="text-left space-y-1">
                    <label for="description">Description:</label>
                    <input class="border border-gray-400 rounded-full w-full pl-2 py-1 focus:outline-indigo-400"
                        type="text" name="description" id="description">
                </div>

                <div class="text-left space-y-1">
                    <label for="start_at">Start date:</label>
                    <input class="border border-gray-400 rounded-full w-full pl-2 py-1 focus:outline-indigo-400"
                        type="datetime-local" name="start_at" id="start_at">
                </div>

                <div class="text-left space-y-1">
                    <label for="due_at">Due date:</label>
                    <input class="border border-gray-400 rounded-full w-full pl-2 py-1 focus:outline-indigo-400"
                        type="datetime-local" name="due_at" id="due_at">
                </div>

                <div class="text-left space-y-1">
                    <label for="assignee">Assingee: </label>
                    <select class="border border-gray-400 rounded-full w-full pl-2 py-1 focus:outline-indigo-400"
                        name="assignee" id="assignee">
                        <option value="johndoe@gmail.com">John Doe </option>
                        <option value="johndoe1@gmail.com">Jane Doe </option>
                        <option value="johndoe2@gmail.com">Simon Doe </option>
                        <option value="johndoe3@gmail.com">George Doe </option>
                    </select>
                </div>
                <button class="bg-indigo-600 rounded-full text-white py-1" type="submit">Add task</button>
            </form>
        </div>

    </div>
    <!-- Add Task Modal End -->

    <!-- Add Member Modal Start -->
    <div id="add_member_modal"
        class="hidden rounded-lg shadow-lg absolute bg-white w-[80%] max-w-[450px] px-4 py-8 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <span class="modal_close_btn cursor-pointer absolute top-2 right-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </span>
        <div>
            <h4 class="text-lg font-semibold">Add a new Member</h4>
            <p class="text-xm text-red-700 mb-2">NB: Ensure the emails given have registed accounts</p>
            <form id="add_member_form" class="space-y-5 flex flex-col mx-auto" action="">
                <div id="new_members_container" class="space-y-1">

                </div>
                <div class="text-left space-y-1">
                    <label for="new_member_input">Email:</label>
                    <input class="border border-gray-400 rounded-full w-full pl-2 py-1 focus:outline-indigo-400"
                        type="text" name="emails" id="new_member_input">
                </div>

                <button class="bg-indigo-600 rounded-full text-white py-1" type="submit">Add Members</button>
            </form>
        </div>

    </div>
    <!-- Add Member Modal End -->

    <!-- View Requests Modal Start -->
    <div id="view_requests_modal"
        class="hidden rounded-lg shadow-lg absolute bg-white w-[80%] max-w-[450px] px-4 py-8 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <span class="modal_close_btn cursor-pointer absolute top-2 right-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </span>
        <div>
            <h4 class="text-lg font-semibold">Requests</h4>
            <div class="overflow-y-scroll max-h-[500px]">

                <div class=" hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <p class="font-semibold">Implement Login</p>
                    <div class="flex justify-between items-center">
                        <div class="flex space-x-3 text-sm items-center">
                            <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                            <p>John Doe</p>
                        </div>
                        <div class="flex space-x-3">
                            <a href="">
                                <p
                                    class="border border-green-600 text-green-600 rounded-full text-xs px-2 py-1 hover:bg-green-600 hover:text-white">
                                    Approve
                                </p>
                            </a>
                            <a href="">
                                <p
                                    class="border border-red-600 text-red-600 rounded-full text-xs px-2 py-1 hover:bg-red-600 hover:text-white">
                                    Reject</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class=" hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <p class="font-semibold">Implement Login</p>
                    <div class="flex justify-between items-center">
                        <div class="flex space-x-3 text-sm items-center">
                            <span
                                class="w-7 h-7 bg-green-700 text-2xl font-semibold text-white flex items-center justify-center rounded-full">
                                G
                            </span>
                            <p>George Doe</p>
                        </div>
                        <div class="flex space-x-3">
                            <a href="">
                                <p
                                    class="border border-green-600 text-green-600 rounded-full text-xs px-2 py-1 hover:bg-green-600 hover:text-white">
                                    Approve
                                </p>
                            </a>
                            <a href="">
                                <p
                                    class="border border-red-600 text-red-600 rounded-full text-xs px-2 py-1 hover:bg-red-600 hover:text-white">
                                    Reject</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class=" hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <p class="font-semibold">Implement Login</p>
                    <div class="flex justify-between items-center">
                        <div class="flex space-x-3 text-sm items-center">
                            <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                            <p>Jane Doe</p>
                        </div>
                        <div class="flex space-x-3">
                            <a href="">
                                <p
                                    class="border border-green-600 text-green-600 rounded-full text-xs px-2 py-1 hover:bg-green-600 hover:text-white">
                                    Approve
                                </p>
                            </a>
                            <a href="">
                                <p
                                    class="border border-red-600 text-red-600 rounded-full text-xs px-2 py-1 hover:bg-red-600 hover:text-white">
                                    Reject</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class=" hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <p class="font-semibold">Implement Login</p>
                    <div class="flex justify-between items-center">
                        <div class="flex space-x-3 text-sm items-center">
                            <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                            <p>John Doe</p>
                        </div>
                        <div class="flex space-x-3">
                            <a href="">
                                <p
                                    class="border border-green-600 text-green-600 rounded-full text-xs px-2 py-1 hover:bg-green-600 hover:text-white">
                                    Approve
                                </p>
                            </a>
                            <a href="">
                                <p
                                    class="border border-red-600 text-red-600 rounded-full text-xs px-2 py-1 hover:bg-red-600 hover:text-white">
                                    Reject</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class=" hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <p class="font-semibold">Implement Login</p>
                    <div class="flex justify-between items-center">
                        <div class="flex space-x-3 text-sm items-center">
                            <span
                                class="w-7 h-7 bg-green-700 text-2xl font-semibold text-white flex items-center justify-center rounded-full">
                                G
                            </span>
                            <p>George Doe</p>
                        </div>
                        <div class="flex space-x-3">
                            <a href="">
                                <p
                                    class="border border-green-600 text-green-600 rounded-full text-xs px-2 py-1 hover:bg-green-600 hover:text-white">
                                    Approve
                                </p>
                            </a>
                            <a href="">
                                <p
                                    class="border border-red-600 text-red-600 rounded-full text-xs px-2 py-1 hover:bg-red-600 hover:text-white">
                                    Reject</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class=" hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <p class="font-semibold">Implement Login</p>
                    <div class="flex justify-between items-center">
                        <div class="flex space-x-3 text-sm items-center">
                            <span
                                class="w-7 h-7 bg-green-700 text-2xl font-semibold text-white flex items-center justify-center rounded-full">
                                G
                            </span>
                            <p>George Doe</p>
                        </div>
                        <div class="flex space-x-3">
                            <a href="">
                                <p
                                    class="border border-green-600 text-green-600 rounded-full text-xs px-2 py-1 hover:bg-green-600 hover:text-white">
                                    Approve
                                </p>
                            </a>
                            <a href="">
                                <p
                                    class="border border-red-600 text-red-600 rounded-full text-xs px-2 py-1 hover:bg-red-600 hover:text-white">
                                    Reject</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class=" hover:bg-gray-300 hover:bg-opacity-70 p-3 rounded-xl">
                    <p class="font-semibold">Implement Login</p>
                    <div class="flex justify-between items-center">
                        <div class="flex space-x-3 text-sm items-center">
                            <img class="rounded-full w-8" src="./images/profile" alt="Profile picture">
                            <p>Jane Doe</p>
                        </div>
                        <div class="flex space-x-3">
                            <a href="">
                                <p
                                    class="border border-green-600 text-green-600 rounded-full text-xs px-2 py-1 hover:bg-green-600 hover:text-white">
                                    Approve
                                </p>
                            </a>
                            <a href="">
                                <p
                                    class="border border-red-600 text-red-600 rounded-full text-xs px-2 py-1 hover:bg-red-600 hover:text-white">
                                    Reject</p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- View Requests Modal End -->

    <!-- Modals End -->

    <script src="./js/main.js"></script>
    <script src="./js/single_project.js"></script>
</body>

</html>